@import "@styles/theme.scss";

.image-container {
    @include rounded-hidden;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s;
    height: 100%;
    cursor: pointer;
    &.visible {
        opacity: 1;
    }
    background-image: url("https://media.istockphoto.com/id/1222357475/vector/image-preview-icon-picture-placeholder-for-website-or-ui-ux-design-vector-illustration.jpg?s=612x612&w=0&k=20&c=KuCo-dRBYV7nz2gbk4J9w1WtTAgpTdznHu55W9FjimE=");
}
