@import "@styles/theme.scss";

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-page, .page-content {
    height:100vh;
    overflow-y: auto;
    padding-bottom: 3vw;
}

@media (max-width: 500px) {
    .about-me {
        padding: 0px 6%;
        font-size: 4vw;
    }
}
