@import "@styles/theme.scss";

#gallery .gallery-container {
    padding: 0 2vw 1vh 2vh;
    display: grid;
    gap: $gap-gallery;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, auto);
    .gallery-item {
        @include rounded-hidden;
        transition: box-shadow 0.2s ease-in-out, transform 0.08s ease-in-out;
        overflow: hidden;
        .image-container {
            background-color: transparent;
            background-size: cover;
            background-position: center;
            opacity: 0;
            transition: 1s;
            height: 100%;
            &.visible {
                opacity: 1;
            }
            background-image: url();
        }
        &:hover {
            transform: scale(1.025);
            box-shadow: 4px 6px 7px -3px rgba(0, 0, 0, 0.42);
            -webkit-box-shadow: 4px 6px 7px -3px rgba(0, 0, 0, 0.42);
            -moz-box-shadow: 4px 6px 7px -3px rgba(0, 0, 0, 0.42);
        }
    }

    /* XSmall */
    @media (max-width: 500px) {
        & {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(auto-fill, 90vw);
            grid-auto-rows: 90vw;
            gap: 5px;
            padding: 1vh;
        }
    }

    /* Small */
    @media (min-width: 500px) and (max-width: 1200px) {
        & {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(auto-fill, 30vw);
            grid-auto-rows: 30vw;
        }
    }

    /* Small */
    @media (min-width: 501px) and (max-width: 720px) {
        & {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(auto-fill, 50vw);
            grid-auto-rows: 50vw;
        }
    }

    /* Medium-Small */
    @media (min-width: 721px) and (max-width: 1199px) {
        & {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(auto-fill, 260px);
            grid-auto-rows: 33vw;
            max-width: 800px;
            margin: auto;
        }
        .gallery-item {
            height: 260px;
        }
    }

    /* Medium */
    @media (min-width: 1200px) and (max-width: 1400px) {
        & {
            grid-template-columns: repeat(4, 200px);
            grid-template-rows: repeat(auto-fill, 200px);
            grid-auto-rows: 20vw;
            max-width: 820px;
            margin: auto;
            .gallery-item {
                height: 200px;
            }
        }
    }

    /* Big */
    @media (min-width: 1400px) {
        & {
            grid-template-columns: repeat(4, 300px);
            grid-template-rows: repeat(auto-fill, 300px);
            grid-auto-rows: 17.8vw;
            max-width: 1200px;
            margin: auto;
        }
        .gallery-item {
            height: 300px;
        }
    }
}
